<header class="header">
	<img src="logo.svg">
	<span class="header__page-title">Customer support</span>
	<span class="header__language-selector"><img src="globe.svg">English</span>
</header>
<div class="main-view">
	<h2 class="main-view__introduction">Hello and welcome to Fortumo's end-user support portal.</h2>
	<h1 class="main-view__title">How can we help?</h1>
	<ul class="issues">
		<li *ngFor="let issue of popularissues" class="issues__issue">
			<h3 class="issues__issue__title">{{popularissue.title}}</h3>
			<img class="issues__issue__arrow_right" src="logo.svg">
		</li>
		<li class="issue-search">
			  <h3 class="issue-search__title">I would like to get more info:</h3>
			  <input class="issue-search__input">
		</li>`
		<li *ngFor="let issue of issues" class="issues__issue">
			<h3 class="issues__issue__title">{{issue.title}}</h3>
			<img class="issues__issue__arrow_right" src="logo.svg">
		</li>`
	</ul>
</div>
<footer>
	<span class="current-year-copyright"></span>
	<a class="back-to-top" href="#">
		<img class="back-to-top__arrow" src="arrow-up.svg">
	</a>
</footer>

<div class="questionaire-view">
	<h2>I'm not able to make a payment{{issue.title}} </h2>
	<div class="questionaire-view__solution-step">
		<div>
		<img class="questionmark active" src="arrow-up.svg">
		<select>
			<option value="Estonia">Volvo</option>
			<option value="English">Saab</option>
		</select>
		</div>
		<h4 class="">Select your mobile operator:</h4>
		<ul class="">
			<li>
				<img class="issues__issue__arrow_right" src="logo.svg">
				<h3 class="">
			</li>
		</ul>
		<button class="">I can't find my operator</button>
	</div>
</div>